
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("orderbg.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
 
}
.section-title {
  width: 95%;
  max-width: 700px;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(235, 101, 5, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.731); 
}


.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 100%;
  max-width: 80vh; 
  height: 68vh;
  padding:18px;
  border-radius: 25px;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.555);
  display: flex;
  width: 60vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 23, 23, 0.582); 
}


.container form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.inputBox{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="email"]{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: 5px solid rgba(0,0,0,0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox textarea{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: solid;
  overflow: hidden;
  border: 5px solid rgba(117, 116, 116, 0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}

.inputBox button{
  width: 100%;    
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  
}

.inputBox button:hover{
  background: rgb(0, 17, 255);
  transition: all 0.1s ease-in;
}

::placeholder{
  font-size: 16px;
}

.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}
